<h1>Animals#show</h1>

<p> Name of animal <%= simple_format(controller.animal.name)%> </p>
<p><% if controller.animal.image_url != ""%> </p>
<p><%= image_tag(controller.animal.image_url) %> </p>

<%end%>
<p><%if controller.animal.common_names != ""%> </p>
<p><%= simple_format(controller.animal.common_names.name)%> </p>

<%end%>

<p> <% if controller.animal.recent? == true%> </p>

<p> This was a recent extinction <\p>

<%end%>
<p>Find me in app/views/animals/show.html.erb</p>
