<h1>Animals#show</h1>

<p> Name of animal <% = simple_format(@animal.name)%> </p>
<p><% if @animal.image_url != null%> </p>
<p><%= image_tag(@animal.image_url) %> </p>

<%end%>
<p><%if common_name != null%> </p>
<p><%= simple_format(@animal.common_name)%> </p>

<%end%>

<p> <% if @animal.recent? == true%> </p>

<p> This was a recent extinction <\p>

<%end%>
<p>Find me in app/views/animals/show.html.erb</p>
