<h1>Classifications#index</h1>
<% controller.classifications.each do |object|  %>

<p> Name of species:
<%= link_to(object.name, {:controller => "classifications", :action => "show", :id => object.id}) %> </p>
<p> Number of included animals: 
<%= object.animals.count.to_s%> </p>
<p></p>

<%end%>

<p>Find me in app/views/classifications/index.html.erb</p>